<div class="wrapper">

    <div class="row ">
        <div class="col-md-3"></div>
        <div class="col-md-6 content-wrapper">
            <div class="content">
                <div class="wrap">
                    <p> Admin page </p>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="btn-group-vertical btn-group-toggle">

                                <span> <h3>Border mark </h3></span>
                                
                                <br>

                                <label class="">
                                    Golden after <input min="1" type="number"  (change) = "setGolden($event)" > victories
                                </label>
                                
                                <br>

                                <label class="b">
                                    Silver after <input min="1" type="number" (change) = "setsilver($event)"> victories
                                </label>
                                
                                <br>

                                <label class="">
                                    Bronze after <input min="1" type="number" (change) = "setBronze($event)"> victories
                                </label>
                                <br>
                                <input type="button" class = "btn btn-outline-light btn-sm" value = "Confirm" (click) = "onConfirmStatus()">
                            
                            </div>
                        </div>
                        <!-- <div class="col-md-6">
                            <div class="btn-group-vertical btn-group-toggle">
                                <span> Motivation messages </span>
                                
                                <br>

                                <label class="">
                                    After <input min="1" type="number" (change) = "setMessage1($event)"> hits - "Destroying spree"
                                </label>
                                
                                <br>

                                <label class="">
                                    After <input min="1" type="number" (change) = "setMessage2($event)"> hits - "Domination"
                                </label>

                                <br>

                                <label class="">
                                    After <input min="1" type="number" (change) = "setMessage3($event)"> hits - "Ace"
                                </label>
                                <br>
                                <input type="button" class = "btn btn-outline-light btn-sm" value = "Confirm" (click) = "onConfirmMessage()">
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>