<div class="directions">
    <img 
        (click) = "onDirectionClick(0)"
        [ngClass] = "{selected: dircetionStatuses[0]}"
        src="../../../assets/images/directions/left.png" 
        alt=""
    >

    <img 
        (click) = "onDirectionClick(1)"
        [ngClass] = "{selected: dircetionStatuses[1]}"
        src="../../../assets/images/directions/up.png" 
        alt=""
    >

    <img 
        (click) = "onDirectionClick(2)"
        [ngClass] = "{selected: dircetionStatuses[2]}"
        src="../../../assets/images/directions/down.png" 
        alt=""
    >

    <img 
        (click) = "onDirectionClick(3)"
        [ngClass] = "{selected: dircetionStatuses[3]}"
        src="../../../assets/images/directions/right.png" 
        alt=""
    >
</div>