<div class="wrapper">
    <div class="row ">
        <div class="col-md-1"></div>

        <div class="col-md-2 story-wrapper">
            <div class="story" [ngClass] = "{'golden': status === 'GOLDEN', 'silver': status === 'SILVER', 'bronze': status === 'BRONZE'}">
                <div class="upper">
                    <p>
                        {{extractMessage()[0]}}
                    </p>
                </div>
                <div class="lower">
                    <p>
                       {{extractMessage()[1]}}
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-8 content-wrapper">
            <div class="content" [ngClass] = "{'golden': status === 'GOLDEN', 'silver': status === 'SILVER', 'bronze': status === 'BRONZE'}">

                <app-board-second-phase
                    *ngIf = "gameStatus.turn === 'player' && !showSpinner"
                    [player] = "gameStatus.turn === 'player' ? 'computer' : 'player'"
                >
                </app-board-second-phase>

                
                <app-board-second-phase
                    *ngIf = "gameStatus.turn === 'computer' && !showSpinner"
                    [player] = "gameStatus.turn === 'computer' ? 'player' : 'computer'"
                >
                </app-board-second-phase>

                <div class="spinner-wrapper" *ngIf = "showSpinner">
                    <div class="spinner-border text-primary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>