html, body {
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
    color: white;
    background-color: black;
    overflow: hidden;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #edf0f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}