<app-battleship 
(click) = "onBattleshipClick(0)"
[status] = "statuses[0]"
[battleshipType] = "'bs2'" 
class = "battleship"
>
</app-battleship>

<app-battleship 
(click) = "onBattleshipClick(1)"
[status] = "statuses[1]"
[battleshipType] = "'bs4'" 
class = "battleship"
>
</app-battleship>

<app-battleship 
(click) = "onBattleshipClick(2)"
[status] = "statuses[2]"
[battleshipType] = "'bs1'" 
class = "battleship"
>
</app-battleship>

<app-battleship 
(click) = "onBattleshipClick(3)"
[status] = "statuses[3]"
[battleshipType] = "'bs3'" 
class = "battleship"
>
</app-battleship>

<app-battleship 
(click) = "onBattleshipClick(4)"
[status] = "statuses[4]"
[battleshipType] = "'bs5'" 
class = "battleship"
>
</app-battleship>